@model Tourism.WebUI.Models.ToursListViewModel

@{
    ViewBag.Title = "Tours";
}

@foreach (var t in Model.Tours)
{
    @Html.Partial("TourSummary", t)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", 
        new { page = x, category = Model.CurrentCategory }))
</div>