@model Tourism.WebUI.Models.ToursListViewModel

@{
    ViewBag.Title = "Tours";
}

@foreach (var t in Model.Tours)
{
    <div>
        <h3>@t.Name</h3>
        @t.Description
        <h4>@t.Price.ToString("c")</h4>
    </div>
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>